.img{
    width: 100%;
    height: 100%;
    max-width: 600px;
    display: block;
   

}

.conteudo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.conteudo .img_casal{
    padding-top: 50px;
}

.local-cerimonia{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  
}
h2{
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #b54171;
    
}

.local-cerimonia a{
    padding-top: 5px;
    color: #b54171;
    font-weight: 400;
    font-weight: bold;
    padding-bottom: 50px;
    
   
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    color: #b54171;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;}

#logo{
    padding-top: 40px;
    padding-bottom: 200px;
    
}

#presenca{
    padding-top: 50px;
    color: #b54171;
    

}


.conteudo::before{
    content: "";
    display: block;
    width: 172px;
    height: 300px;
    bottom: 0;
    right: 0;
    background-image: url("../img/flor_canto_baixo.png");
    position: absolute;
}