.abrir{
    background-color: #ede6dd;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #a54d21;
    top: 0px;
    left: 0px;
    
}

body {
background-color: #f0ece8;
}

.abrir button{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: transparent;
    color: #b54171;
}

.abrir.oculto{
    display: none;
}


.js .home{
    opacity: 0;
}

.home.ativo{
    opacity: 1;
    transform: none;
    transition: transform 0.8s, opacity 1.5s;
}
.home {
    padding-top: 80px;

}

.frase {
    padding: 0px 10px;
    text-align: center;
}


.texto_biblico{
    color: #4e634e;
    padding-bottom: 50px;
    padding-left: 60px;
}

.home::after{
    content: "";
    display: block;
    width: 172px;
    height: 300px;
    top: 0;
    background-image: url("../img/flor_canto2.png");
    position: absolute;
    
}



.nomes {

    color: #b54171;
    text-align: center;
    padding: 25px;
   
   
}

.abrir{
    display: flex;
    justify-content: center; 


}
.img-casal-fundo{
    display: none;
    /* width: 800px;
    height: 100%;
    background-image: url("../img/casal.jpg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat; */
}


.nomes_button{
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
}



.hora{
    text-align: center;
    

}

.hora p:first-child {
    padding-bottom: 10px;
    font-size: 1rem;
    color: #303525 ;
    
}

.date {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.day {
    display: flex;
    align-items: center;
    font-size: 35px;
    color: #2f4538;
    padding: 10px;
    margin: 0 1rem;

}

.month-year, .week-hours {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #2f4538;
    border-left: 1px solid #2f4538;
   
}
.month-year{
    padding: 14px 14px 14px 25px;
    margin: 0 1.2rem;
}

.week-hours {
    padding: 14px;
    /* margin-left: rem; */
}

.links {
    padding-top: 2rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2f4538;
}

.local flex{

    padding: 5rem;

}
.flex {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 1.5rem 0 1.5rem;
}

.flex p {
    padding-top: 10px;
}



.contador{
    width: 360px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     background: url(../img/arco2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  
}

.contador p{
    margin-top: 10px;
    color: #2f4538;
    padding-bottom: 20px;
   
}

.container_tempo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
}

.tempo{
  color: #2f4538;
    display: flex;
    flex-direction: column;
    font-weight: 700;
}



.slide_casal{
    padding-top: 50px;
    width: 100%;
}

.slide_casal img{
display: block;
width: 100%;
}

.vestimenta{
    text-align: center;
    max-width: 40ch;
}

.segundo_p, .terceiro_p{
    margin-top: 40px;
    
}

.hotel{
    padding-bottom: 50px!important;
}